.container {
  padding-left: 5vh;
  padding-top: 40px;
}
.title {
  font-size: 5vh;
  line-height: 42.19px;
}

.info {
  font-size: 3vh;
  padding-top: 14px;
  line-height: 21.09px;
  padding-bottom: 25px;
}

.button {
  width: 18vh;
  height: 8vh;
  background-color: #3b89ff;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  margin-top: 10px;
}

.link {
  padding-right: 14px;
}
